<section class="left">
  <%= partial "panels/investigate" %>
</section>
<section class="center">
  <%= partial "components/logo" %>
</section>
<section class="right">
  <%= partial "panels/participate" %>
</section>

<div class="primary-nav">
  <div class="primary-nav--left">
    <div class="arrow">
      <div class="arrow--chevron"></div>
      <div class="arrow--line"></div>
    </div>
    <p>Investigate</p>
  </div>
  
  <div class="primary-nav--right">
    <p>Participate</p>
    <div class="arrow">
      <div class="arrow--line"></div>
      <div class="arrow--chevron"></div>
    </div>
  </div>
</div>